body {
    font-family: poppins;
    margin: 0;
}
.navbar-top {
    display: flex;
    flex-direction: row;
    height: 5.5rem;
    background-color: #060606;
}
.logo {
    width: 80px;
    margin-left: 15px;
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 21px;
    background-color : #D1D1D1;
    height: 3rem;    
    width: 32rem;
    margin-left: 90px;
    margin-top: 15px;
}
.navigation > a {
    color: black;
    text-decoration: none;
}
.about:hover, .product:hover, .contactus:hover {
    transform: scale(1.1);
}
.home {
    border: none;
    border-radius: 15px;
    background-color: #CC7942;
    padding: 3px;
    width: 7.5rem;
    text-align: center;
}
.home, .about, .product, .contactus {
    margin: 20px;
}
.language {
    margin-left: 250px;
    margin-top: 23.5px;
}
.eng {
    color: black;
    background-color: white;
    margin-left: 23px;
    border-radius: 12px;
    padding: 7px;
}
.idn {
    color: #FFFFFF;
    background-color: #161616;
    margin-left: 25px;
    border:  1px solid #FFFFFF;
    border-radius: 12px;
    padding: 7px;
}
.idn:hover {
    background-color: #FFFFFF;
    color: #161616;
}
.wrapper-top {
    display: flex;
    flex-direction: row;
    margin-left: 130px;
    margin-top: 15px;
}
.wrapper-top > a {
    margin-top: 10px;
    margin-left: 15px;
}
#shopping-logo:hover, #user-logo:hover {
    transform: scale(1.1);
}
.content {
    display: flex;
    flex-direction: row;
    background-color: #161616;
    height: 42rem;
}
.wrapper-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none;
    border-radius: 25px;
    background-image: url('/Home/BAKE 1.png');
    background-size: cover;
    color: #FFFFFF;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    width: 50%;
    height: 29.5rem;
    padding: 3rem;
}
.orderNow1 {
    margin-top: 25px;
}
#orderNow1, #orderNow2, #contactus2 {
    border: none;
    border-radius: 5px;
    font-family: poppins;
    padding: 10px;
    width: 19.5rem;
    background-color: #FFFFFF;
    border-radius: 15px;
    color: #0C0B0B;
}
.wrapper-2 {
    display: flex;
    flex-direction: column;
}
.work-hour {
    border: none;
    background-color: #CC7942;
    background-image: url('/Home/Footer Wireframe.png');
    background-size: cover;
    border-radius: 25px;
    color: #FFFFFF;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    width: 25rem;
    height: 13rem;
    padding: 2rem;
}
.specific-amount {
    border: none;
    background-color: #CC7942;
    border-radius: 25px;
    background-image: url('/Home/Footer Wireframe (1).png');
    background-size: cover;
    color: #FFFFFF;
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    width: 25rem;
    height: 13rem;
    padding: 2rem;
}
footer {
    background-color: #CC7942;
    height: 12rem;
    display: flex;
    align-items: center;
}
.nav-footer > a {
    color: #161616;
    margin: 1rem;
}
hr {
    border: 1px solid black; 
    width: 50rem;
    margin-left: 15px;
}
.footer-bottom > a, span {
    color: #161616;
    font-weight: 900;
    font-size: large;
    margin: 1rem;
    margin-right: 3.5rem;
}
